
<header>
  <a href="/home">Home</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>

  <form action="http://localhost:8080/product/search" method="post">
  <input name="searchProduct"id="searchProduct" type="text" />
  <button id="searchButton" type="submit">Search</button>
</form>
</header>

<!-- <script src="main.js"></script> -->
