<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Signup</title>
	</head>
	<body>
		<h1>Signup Page</h1>

		<form action="http://localhost:8000/api/auth/signup" method="post">
			<input
				type="text"
				name="firstname"
				placeholder="firstname"
				value="userFirstname"
				autocomplete="off"
			/>
			<input
				type="text"
				name="lastname"
				placeholder="lastname"
				value="userLastname"
				autocomplete="off"
			/>
			<input
				type="text"
				name="username"
				placeholder="username"
				autocomplete="off"
			/>
			<input
				type="text"
				name="password"
				placeholder="password"
				value="1234"
				autocomplete="off"
			/>
			<input
				type="text"
				name="gender"
				placeholder="gender"
				value="userGender"
				autocomplete="off"
			/>

			<button type="submit">sign up</button>
		</form>
	</body>
</html>
